body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

h2, h3, h4 {
	margin: 0;
	padding: 10px;
	display: block;
}

header {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 69px;
	background-color: black;
	border-bottom: 1px solid white;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 50px;
	margin-left: 10px;
}

/* Nav stylings */

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	padding: 20px 10px;
}

nav a {
	color: seashell;
}

main {
	padding-top: 69px;
	
}

#mission {
	height: 700px;
	width: 1200px;
	margin: 0 auto;
	background-image: url("../images/img-mission-background.jpg");
}

.mission-statement {
	width: 100%;
	background-color: black;
}

#featured-tea {
	width: 1000px;
	height: 700px;
	margin: auto;
	padding-top: 80px;
}

.items-ofm {
	display: flex;
	align-content: center;
	margin: 10px;
	
}

.item-ofm {
	padding: 5px;
}

.item-ofm img {
	display: flex;
	width: 300px;
	height: 200px;
	padding: 5px;
}

.item-ofm h4 {
	display: block;
	padding: 10px 5px;
}

#locations {
	height: 500px;
	width: 1200px;
	margin: 0 auto;
	padding-top: 70px;
	background-image: url("../images/img-locations-background.jpg");
}

.locations {
	padding-top: 5px;
	
}

.location {
	flex-direction: column;
	margin: 5px 20px;
	padding: 10px;
	width: 300px;
	background-color: black;

}

#contact {
	padding-top: 69px;
	margin-bottom: 50px;
}

#contact a {
	font-size: 22px;
	text-decoration: none;
	font-weight: bold;
	color: seashell;
}


/* Preferred this center aligned with a background */
footer {
	width: 100%;
	padding: 10px 0px;
	color: black;
	background-color: seashell;	
}

small {
	font-size: 0.75em;
}